
.active-effect-disabled:active {
    background: none !important;
    color: inherit;
}

.hover-effect-disabled:hover {
    background: none;
}

.--primary:hover, .--primary:active {
    color: #0275d8 !important;
}



.--danger:hover, .--danger:active {
    color: #d9534f !important;
}