/* Redimensionnement automatique des images pour s'adapter à la taille des blocs de recette */
.recipe-image {
    width: 100%;
    height: 400px;
    background-color: aliceblue;
}


/* Taille des étoiles */
.star-comment {
    font-size: 4rem;
    color: black;
    size: 3rem;
}

.star-comment.fs-6.good {
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

/* Taille de la note */
.rating-note {
    font-size: 23px;
}

.d-flex.justify-content-between.mb-3.px-md-5 {
    justify-content: center;
    align-items: center;

}

/* Centrage horizontal */
.d-flex.justify-content-center.align-items-center {
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}